:root {
    --primary: #2563eb;
    --primary-rgb: 37, 99, 235;

    --secondary: #475569;
    --secondary-rgb: 71, 85, 105;

    --dark: #020617;
    --dark-rgb: 2, 6, 23;

    --light: #f1f5f9;
    --light-rgb: 241, 245, 249;

    --border-color: #e2e8f0;

    --gray-1: #f8fafc;
    --gray-2: #d1d5db;
    --gray-8: #1e293b;


    --body-bg: #ffffff;
    --body-color: var(--secondary);
    --body-font-family: "Inter", sans-serif;
    --body-font-size: 1rem;
    --body-line-height: 1.45;

    --link-color: var(--dark);
  	--link-hover-color: var(--primary);

    --btn-font-family: var(--body-font-family);
	--btn-font-size: 14px;
	--btn-font-weight: 500;
	--btn-line-height: 40px;
	--btn-padding-x: 16px;
	--btn-bg: transparent;
	--btn-border-width: 0px;
	--btn-color: var(--body-color);
	--btn-border-color: transparent;
	--btn-hover-bg: transparent;
	--btn-hover-color: var(--body-color);
	--btn-hover-border-color: transparent;

    --container-width: ;
    --gutter-y: ;
	--gutter-x: 32px;

    --sidebar-width: 240px;
    
    --header-bg: 255, 255, 255;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	font-weight: 400;
	line-height: var(--body-line-height);
	color: var(--body-color);
	text-align: left;
	background-color: var(--body-bg);
    background-image: url("../images/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
	margin: 1.5rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: 0.25;
}

hr:not([size]) {
	height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: var(--font-family);
	font-weight: 600;
	line-height: 1.25;
	color: var(--dark);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

abbr[title],
abbr[data-bs-original-title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul {
	padding-left: 2rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

b,
strong {
	font-weight: 700;
    color: var(--dark);
}

small {
	font-size: 0.875em;
}

mark {
	padding: 0.2em;
	background-color: #fcf8e3;
}

sub,
sup {
	position: relative;
	font-size: 0.75em;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: none;
}

pre,
code,
kbd,
samp {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1em;
	direction: ltr;
	unicode-bidi: bidi-override;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	font-size: 0.875em;
}

pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal;
    font-weight: normal;
}

code {
	font-size: 0.875em;
	color: #d63384;
	word-wrap: break-word;
    font-weight: 500;
}

a > code {
	color: inherit;
}

kbd {
	padding: 0.2rem 0.4rem;
	font-size: 0.875em;
	color: #FFFFFF;
	background-color: #141823;
	border-radius: .2rem;
}

kbd kbd {
	padding: 0;
	font-size: 1em;
	font-weight: 700;
}

figure {
	margin: 0 0 1rem;
}

img,
svg {
	vertical-align: middle;
	max-width: 100%;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
}

caption {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #7D8087;
	text-align: left;
}

th {
	font-weight: 600;
	text-align: inherit;
	text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}

label {
	display: inline-block;
}

button {
	border-radius: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input:hover,
input:focus,
input:active,
button:hover,
button:focus,
button:active,
select:hover,
select:focus,
select:active,
optgroup:hover,
optgroup:focus,
optgroup:active,
textarea:hover,
textarea:focus,
textarea:active {
	outline: none;
}

button,
select {
	text-transform: none;
}

[role="button"] {
	cursor: pointer;
}

select {
	word-wrap: normal;
}

select:disabled {
	opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
	display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

textarea {
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
}

legend + * {
	clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
	padding: 0;
}

::-webkit-inner-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::file-selector-button {
	font: inherit;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
    display: inline-block;
}

iframe {
	border: 0;
}

summary {
	display: list-item;
	cursor: pointer;
}

progress {
	vertical-align: baseline;
}

[hidden] {
	display: none !important;
}

#wrapper {
    overflow: hidden;
    min-height: 100vh;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 16px;
}


/*!
 *	Components
 * ----------------------------------------------- */

/* Alert */
.alert {
    display: flex;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #fffbeb;
    border: 1px solid #fef3c7;
    color: #d97706;
    line-height: 1.5;
    font-size: 14px;
}

.alert .svg {
    margin-right: 8px;
    margin-top: 2px;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
}

/* Button */
.btn {
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: var(--btn-padding-x);
	padding-right: var(--btn-padding-x);
	color: var(--btn-color);
	background-color: var(--btn-bg);
	font-family: var(--btn-font-family);
	font-size: var(--btn-font-size);
	font-weight: var(--btn-font-weight);
	border: var(--btn-border-width) solid var(--btn-border-color);
	cursor: pointer;
	-webkit-transition: all .3s;
    transition: all .3s;
	line-height: calc(var(--btn-line-height) - (var(--btn-border-width) * 2));
	text-align: center;
	position: relative;
    text-transform: uppercase;
    border-radius: 6px;
}

.btn:hover {
	background-color: var(--btn-hover-bg);
	color: var(--btn-hover-color);
	border-color: var(--btn-hover-border-color);
}

.btn.btn--sm {
	--btn-font-size: 12px;
    --btn-line-height: 32px
}

.btn.btn--icon {
	padding: 0;
	width: var(--btn-line-height);
	height: var(--btn-line-height);
}

.btn.btn--primary {
	--btn-bg: var(--primary);
	--btn-color: #ffffff;
	--btn-hover-bg: #1d4ed8;
	--btn-hover-color: #ffffff;
}

.btn.btn--ghost {
	--btn-color: #94a3b8;
    --btn-hover-bg: var(--light);
	--btn-hover-color: #64748b;
}

.btn .svg {
    width: 20px;
    height: 20px;
}


/*!
 *	Grid System
 * ----------------------------------------------- */
.container,
.container-fluid {
    width: 100%;
    padding-left: calc(var(--gutter-x) * .5);
    padding-right: calc(var(--gutter-x) * .5);
}

.container *, 
.container-fluid * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.container {
	max-width: var(--container-width);
	margin-left: auto;
	margin-right: auto;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
    z-index: 2000;
    background-color: rgba(var(--header-bg), 0.75);
    backdrop-filter: blur(8px);
}

#header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#header .brand {
    font-weight: 600;
    color: var(--dark);
}

#header .header-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-left: auto;
}

#header .header-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#header .header-links:not(#menu) ul li:not(:first-child) {
    margin-left: 4px;
}

#header #menu ul,
#header #menu ul li,
#header #menu.header-links {
    flex: 0 0 auto;
    width: 100%;
}

#header #menu {
    padding-top: 24px;
    padding-bottom: 16px;
    font-weight: 500;
    display: none;
}

#header #menu ul {
    flex-direction: column;
    align-items: flex-start;
}

#header #menu ul .btn {
    width: 100%;
}

#header #menu ul li:not(:first-child) {
    margin-top: 24px;
}

#switch_theme.active .moon,
#switch_theme:not(.active) .sun {
    display: none;
}

#main {
    margin-top: 65px;
    min-height: calc(100vh - 65px);
}

#sidebar {
    padding-top: 48px;
    position: fixed;
    top: 65px;
    bottom: 0;
    width: var(--sidebar-width);
    display: none;
    flex-direction: column;
}

#sidebar .navbar {
    flex: 1;
    overflow: auto;
}

#sidebar .sidebar-footer {
    padding: 16px 20px;
    font-size: 14px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li + li {
    margin-top: 8px;
}

.navbar .navbar__link {
    color: var(--dark);
    display: block;
    padding: 14px 20px;
    border-radius: 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 16px;
}

.navbar .navbar__link .svg {
    width: 20px;
    height: 20px;
    opacity: .5;
    transition: all 0.35s ease-in-out;
}

.navbar .navbar__link:hover,
.navbar .navbar__link.active {
    background-color: var(--gray-1);
}

.navbar .navbar__link.active .svg {
    transform: rotate(180deg);
}

.navbar ul.submenu {
    margin-left: 32px;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;
}

.navbar ul.submenu li + li {
    margin-top: 12px;
}

.submenu li a.active {
    font-weight: 500;
    color: var(--primary);
}

.navbar .navbar__link.active + .submenu {
    display: block;
}

#content {
    padding-top: 48px;
    padding-bottom: 48px;
}

#template_info {
    padding: 24px;
    border-radius: 16px;
    background-color: var(--gray-1);
    margin-bottom: 48px;
    border: 1px solid rgba(var(--dark-rgb), 0.05);
}

b {
    font-weight: 600;
}

.title,
.subtitle {
    font-weight: 500;
    color: var(--dark);
}

.title {
    font-size: 24px;
    margin-bottom: 24px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}

.scrollspy .scrollspy {
    padding-bottom: 32px;
}

.scrollspy ul li:not(:first-of-type),
.scrollspy ol li:not(:first-of-type) {
    margin-top: 8px;
}

.lightbox {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    margin-bottom: 16px;
}

.divider {
    height: 1px;
    background-color: var(--border-color);
    margin: 16px 0 48px;
    border: none;
    opacity: 1;
}

.snippet {
    margin-bottom: 24px;
    position: relative;
    padding: 24px 24px 8px 24px;
    background-color: var(--gray-8);
    border-radius: 16px;
    overflow: auto;
    max-height: 680px;
    border: 1px solid rgb(100, 116, 139, 0.5);
}

.snippet::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--gray-2);
}

.snippet::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 2px;
}

.snippet pre {
    margin: 0;
    padding: 0 0 16px 0;
    background-color: var(--gray-8);
    max-width: 100%;
    font-size: 14px;
    overflow: visible;
}

.snippet pre code {
    color: #e2e8f0;
    text-shadow: none;
}

.snippet .code-copy {
    position: absolute;
    top: 23px;
    right: 16px;
    z-index: 100;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    line-height: 1.35;
    padding: 0.25rem 0.5rem;
    background-color: rgb(2, 6, 23, 0.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    border-radius: 4px;
}

.snippet:hover .code-copy {
    opacity: 1;
    visibility: visible;
}

.link-primary {
    color: var(--primary);
    font-weight: 500;
}

.link-primary:hover {
    text-decoration: underline;
}

.video {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 4px solid var(--border-color);
}

.video:before {
    content: '';
    display: block;
    padding-bottom: calc(9 / 16 * 100%);
}

.video > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: -40px -16px 0;
}

.support .support__item {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;
}

.support .support__qr {
    width: 180px;
    height: 180px;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--border-color);
}

.support .support__qr > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#rate {
    background-color: #020617;
    border-radius: 32px;
    padding: 32px 24px;
    text-align: center;
    color: #ffffff;
    margin-top: 48px;
}

#rate .primary {
    color: var(--primary);
}

#rate img {
    max-width: 120px;
}

.rate-title {
    font-weight: 900;
    line-height: 1.25;
    margin-top: 16px;
    font-size: calc(1.4rem + 1.5vw);
    /* letter-spacing: 1px; */
}


/*!
 *	Dark Mode
 * ----------------------------------------------- */
body[dark-theme=true] {
    --dark: #ffffff;
    --dark-rgb: 255, 255, 255;

    --light: #1e293b;
    --gray-1: #1e293b;
    --link-color: var(--dark);
    --body-bg: #0f172a;
    --body-color: #94a3b8;
    --border-color: #334155;
    --header-bg: 15, 23, 42;
}

body[dark-theme=true] .btn.btn--ghost {
    --btn-hover-color: #e2e8f0;
}



/*!
 *	Responsive
 * ----------------------------------------------- */
@media(min-width: 576px) {
	body {
		--container-width: 540px;
	}

    #header .brand {
        font-size: 20px;
    }

    #template_info {
        padding: 32px;
    }

    #rate {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media(min-width: 768px) {
	body {
		--container-width: 720px;
	}

    #header #menu ul, 
    #header #menu ul li, 
    #header #menu.header-links {
        width: initial;
    }

    #header #menu {
        order: 2;
        padding: 0;
        margin-right: 24px;
        padding-right: 24px;
        display: block;
        position: relative;
    }

    #header #menu:after {
        content: '';
        position: absolute;
        right: 0;
        top: 8px;
        bottom: 8px;
        width: 1px;
        background-color: var(--border-color);
    }

    #header .header-links:not(#menu) {
        margin-left: initial;
    }

    #header #menu ul {
        flex-direction: row;
        align-items: center;
    }

    #header #menu ul li:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #header .brand {
        order: 1;
    }

    #header .header-links {
        order: 3;
    }

    #header .header-links ul li:not(:first-child) {
        margin-left: 16px;
    }

    #hamburger {
        display: none;
    }

    .support .support__item {
        width: 50%;
    }
}

@media(min-width: 992px) {
	body {
		--container-width: 960px;
	}

    #header #menu ul li:not(:first-child) {
        margin-left: 32px;
    }

    #sidebar {
        display: flex;
    }

    #content {
        margin-left: var(--sidebar-width);
        padding-left: 48px;
    }
}

@media(min-width: 1200px) {
	body {
		--container-width: 1140px;
        --sidebar-width: 300px;
	}

    .navbar .navbar__link,
    #sidebar .sidebar-footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .rate-title {
        font-size: 40px;
    }
}

@media(min-width: 1400px) {
	body {
		--container-width: 1320px;
	}
}